*{
    margin: 0;
    padding: 0;
}
header{
    height: 20vh;
    background-color: khaki;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    height: 60vh;
    display: flex;
}
article{
    background-color: white;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: pink;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    background-color: aqua;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height: 20vh;
    background-color: khaki;
    display: flex;
    justify-content: center;
    align-items: center;
}